.everything{
    display: flex;
    flex-direction: column;
}

body{
    font-family: Roboto , sans-serif;
    margin: 0;
}


/* header */

.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 16px 200px 100px ;
    gap: 70px;

}

.top{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 24px;
}

.hlogo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.bottom{
    display: flex;
    justify-content: space-between;
    gap: 175px;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 300px;
}

.hsub{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
    width: 300px;
}

.left{
    width: 300px;
}

.right{
    width: 700px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    color: white;
    padding: 8px 25px;
    border-radius: 08px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
}


/* middler ig (wtf is that even called idk) */

.middler{
    padding-top: 32px;
    padding-bottom: 100px;
}

.title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 50px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.cont1{
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 8px;
    text-align: center;
}

.cont{
    height: 160px;
    border: 3.5px solid #3882f6;
    border-radius: 8px;
}

.cont img{
    height: 160px;
    width: 150px;
}


/* qoute portion */

.qot{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.contain{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.cred{
    align-self: flex-end;
    font-size: 22px;
    font-weight: bold;
}


/* booty */

.butt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue{
    background-color: #3882f6;
    display: flex;
    width: 1100px;
    justify-content: center;
    align-items: center;
    padding: 50px 120px;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 8px;
}

.texts{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bhead{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.bsub{
    color: #e5e7eb;
    font-size: 18px;
}

.bot{
    border: 2px solid #f9faf8;
}


/* footer */

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.foot{
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
}

.flink{
    font-size: 18px;
    color: #f9faf8;
}